
/* Comentario */
body {
  background-color: #dae1e7;
  margin: auto;
}

hr {
  background-color: #142850;
  border-style: none;
  height: 2px;
  width: 100%;
}
h3{
  color: #142850;
}

h1{
  color: #142850;
  margin: auto;
}
.hola{
  text-decoration: underline;
}
.top-container{
  background-color: #84a9ac;
  margin: 0PX;
  border-spacing: 50PX;
  padding: 50PX;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.middle-container{
  background-color: blue;
  width: 200px;
  height: 200px;
}
.buttom-container{
  background-color: red;
  width: 200px;
  height: 200px;
}
.nube1{
  position: relative;
  left: 220px;
}
.nube2{
  position: absolute;
  left: 35%;
}
