/* Comentario */
body {
  background-color: #dae1e7;
  margin: auto;
}
textarea{
  width: 50%;
}

hr {
  background-color: #142850;
  border-style: none;
  height: 2px;
  width: 100%;
}

h3{
  color: #142850;
}

h1{
  color: #142850;
  margin: auto;
}
table{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
ol{
  text-align: center;
  list-style-position: inside;
}
li{
  text-align: center;
    list-style-position: inside;
}
.hola{
  text-decoration: underline;
}
.top-container{
  background-color: #84a9ac;
  margin: 0PX;
  border-spacing: 50PX;
  padding: 50PX;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.middle-container{
  background-color: blue;
  width: 200px;
  height: 200px;
}
.buttom-container{
  background-color: red;
  width: 200px;
  height: 200px;
}
p{
  margin: a300px
}
.uno{
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 350px;

}
.personal{
  height: 1150px;
  width: 350px;
  background-color: #142850;
  position: fixed;
  top: 0;
}
.datos-personal{
  word-spacing: 5px;
  line-height: 1.5;
  color: white;
  padding-left: 20px;
  display: inline-block;
}
.personal-image{
  height: 250px;
  width: 250px;
  padding-left: 12%;
  padding-top: 12%;


}
